[submodule "emacs/.emacs.d"]
	path = emacs/.emacs.d
	url = http://github.com/syl20bnr/spacemacs
[submodule "vim/.vim/bundle/Vundle.vim"]
	path = vim/.vim/bundle/Vundle.vim
	url = git@github.com:VundleVim/Vundle.vim.git
